.code-shift{
    padding-left: 750px;
    padding-top: 50px;
    font-size: 25px;
}

#dfs{
    padding-top: 150px;
}

#circle-1 {
    width: 200px;
    height: 100px;
    position: relative;
    top: -450px;
    left: 230px;
}

#circle-2{
    width: 200px;
    height: 100px;
    position: relative;
    top: -345px;
    left: -75px;
}

#circle-3{
    width: 200px;
    height: 100px;
    position: relative;
    top: -345px;
    left: -90px;
}

#circle-4{
    width: 200px;
    height: 100px;
    position: relative;
    top: -230px;
    left: -570px;
}

#circle-5{
    width: 200px;
    height: 100px;
    position: relative;
    top: -230px;
    left: -630px;
}

#circle-6{
    width: 200px;
    height: 100px;
    position: relative;
    top: -230px;
    left: -760px;
}

#circle-7{
    width: 200px;
    height: 100px;
    position: relative;
    top: -230px;
    left: -820px;
}

#circle-a {
    width: 200px;
    height: 100px;
    position: relative;
    top: -650px;
    left: 230px;
}

#circle-b{
    width: 200px;
    height: 100px;
    position: relative;
    top: -550px;
    left: -75px;
}

#circle-c{
    width: 200px;
    height: 100px;
    position: relative;
    top: -550px;
    left: -90px;
}

#circle-d{
    width: 200px;
    height: 100px;
    position: relative;
    top: -440px;
    left: -570px;
}

#circle-e{
    width: 200px;
    height: 100px;
    position: relative;
    top: -440px;
    left: -630px;
}

#circle-f{
    width: 200px;
    height: 100px;
    position: relative;
    top: -440px;
    left: -760px;
}

#circle-g{
    width: 200px;
    height: 100px;
    position: relative;
    top: -440px;
    left: -820px;
}

#line-1{
    position: relative;
    top: -555px;
    left: 73px;
}

#line-2{
    position: relative;
    top: -550px;
    left: -230px;
}

#line-3{
    position: relative;
    top: -968px;
    left: 148px;
}

#line-4{
    position: relative;
    top: -965px;
    left: -310px;
}

#line-5{
    position: relative;
    top: -1157px;
    left: 85px;
}

#line-6{
    position: relative;
    top: -1160px;
    left: -225px;
}

.text{
    position: relative;
    top: -1150px;
    left: 120px;
    display: flex;
}

.text label{
    height: 50px;
    display: flex;
}

.submit{
    position: relative;
    top: -1130px;
    left: 255px;
}

.text input {
    text-align: center; 
}

.output {
    position: relative;         
    top: -1100px;       
    left: 400px;
    font-weight: 550;
    font-size: 50px;
}